@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Libre Baskerville', serif;
}

.font-playfair {
  font-family: 'Playfair Display', serif;
}

.font-baskerville {
  font-family: 'Libre Baskerville', serif;
}

/* Smooth transitions */
* {
  transition: background-color 0.3s ease;
}
.mapboxgl-canvas {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}