@import "tailwindcss";
  

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f9fafb;
}

.smooth-transition {
  transition: all 0.3s ease-in-out;
}

.font-playfair {
  font-family: 'Playfair Display', serif;
}

.font-baskerville {
  font-family: 'Libre Baskerville', serif;
}

/* Smooth transitions */
* {
  transition: background-color 0.3s ease;
}
.mapboxgl-canvas {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* globals.css */
@keyframes shake {
  0%, 100% { transform: translateX(0); }
  20%, 60% { transform: translateX(-5px); }
  40%, 80% { transform: translateX(5px); }
}

.animate-shake {
  animation: shake 0.5s ease-in-out;
}